{% if include.mode == "SIZED_CONTAINER" %}
<div id="{{ include.id }}" style="height: 1200px; overflow: overflow-y; width: 100%;"></div>
<script src="https://documentservices.adobe.com/view-sdk/viewer.js"></script>
<script type="text/javascript">
  document.addEventListener("adobe_dc_view_sdk.ready", function(){
    var adobeDCView = new AdobeDC.View({clientId: "{{ site.credential.adobe.client_id }}", divId: "{{ include.id }}"});
    adobeDCView.previewFile({
      content:{ location:
        { url: "{{ include.url }}"}},
      metaData:{fileName: "{{ include.name }}"}
    },
    {
      embedMode: "SIZED_CONTAINER"
    });
  });
</script>
{% elsif include.mode == "LIGHT_BOX" %}
{% if include.block %}
  {%- assign block_style = "btn-block" -%}
{%- else -%}
  {%- assign block_style = "" -%}
{%- endif -%}
<button id="{{ include.id }}" class="m-1 btn btn-{{ include.style | default: 'outline-primary' }} btn-{{ include.size | default: 'md' }} {{ block_style }}" >
View Report
</button>
<script src="https://documentservices.adobe.com/view-sdk/viewer.js"></script>
<script type="text/javascript">
  document.addEventListener("adobe_dc_view_sdk.ready", function () {
  document.getElementById("{{ include.id }}").addEventListener("click", function () {
    var adobeDCView = new AdobeDC.View({
      clientId: "{{ site.credential.adobe.client_id }}",
    });
    adobeDCView.previewFile(
      {
        content: {location: { url: "{{ include.url }}"}},
        metaData:{fileName: "{{ include.name }}"}
      },
      { 
        embedMode: "LIGHT_BOX", defaultViewMode: "FIT_PAGE"
      }
    );
    });
  });
</script>
{% else include.mode == "IN_LINE" %}
<div id="{{ include.id }}" style="height: 1200px; overflow: overflow-y; width: 100%;"></div>
<script src="https://documentservices.adobe.com/view-sdk/viewer.js"></script>
<script type="text/javascript">
   document.addEventListener("adobe_dc_view_sdk.ready", function(){
     var adobeDCView = new AdobeDC.View({clientId: "{{ site.credential.adobe.client_id }}", divId: "{{ include.id }}"});
   adobeDCView.previewFile({
     content:{location: {url: "{{ include.url }}"}},
     metaData:{fileName: "{{ include.name }}"}
 }, { embedMode: "IN_LINE", showPrintPDF: true });
 });
</script>
{% endif %}