.markdown-body {
  h1,
  h2 {
    margin-top: 32px;
  }

  hr {
    background: $secondary;
  }

  img:not(.emoji) {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 1rem auto;
  }

  .video {
    position: relative;
    padding-bottom: 56.25%;
    // margin-bottom: 1rem;
    // width: 100%;
    height: 0;
    iframe {
      position: absolute;
      // height: 100%;
      // width: 100%;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  a:not(.btn):not([class^="carousel-"]):not([class^="list-"]):not(.no-underline) {
    display: inline-block;
    text-decoration: none;

    &:hover {
      color: $primary;
    }

    &::after {
      content: "";
      display: block;
      height: 0.15em;
      margin-top: -0.15em;
      width: 0;
      background: $primary;
      transition: width 0.35s;
    }

    &:hover::after {
      width: 100%;
    }
  }

  pre {
    background: $light;
    border: 1px solid #ddd;
    color: $dark;
    font-family: monospace;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 1.6em;
    max-width: 100%;
    padding: 1em 1.5em;
    display: block;
    page-break-inside: avoid;
    overflow: auto;
    word-wrap: break-word;
  }

  code.highlighter-rouge {
    background-color: $light;
    color: $dark;
    border-radius: 3px;
    margin: 0;
    padding: 0.2em 0.65em;
  }

  blockquote {
    border-left: 0.25em solid $primary;
    color: $secondary;
    padding: 0 1em;
  }

  ul.task-list {
    list-style: none;
    padding-left: 24px;
  }

  input.task-list-item-checkbox {
    margin-right: 10px;
    vertical-align: middle;
  }

  table:not(.highlight) {
    display: block;
    overflow-x: auto;
    margin: 1rem 0;

    td {
      border: 1px solid #ddd;
      padding: 8px 16px;
    }

    th {
      @extend td;
      padding-top: 12px;
      padding-bottom: 12px;
      font-weight: 500;
      text-align: left;
      background-color: $primary;
      color: white;
    }

    tr:nth-child(even) {
      background-color: rgba(0, 0, 0, 0.05);
    }
  }
}
