{%- if page.comments != false -%}
  <div class="commentbox"></div>
  <script src="https://unpkg.com/commentbox.io/dist/commentBox.min.js"></script>
  <script>commentBox('{{ site.credential.comment-box.project_id }}', {
    className: 'commentbox', // the class of divs to look for
    defaultBoxId: 'commentbox', // the default ID to associate to the div
    tlcParam: 'tlc', // used for identifying links to comments on your page
    sortOrder: 'newest', // specify the default comment sort order ("best", "newest", "oldest")
    backgroundColor: null, // default transparent
    textColor: '#0a0', // default black
    subtextColor: null, // default grey
    singleSignOn: null, // enables Single Sign-On (for Professional plans only)
    /**
     * Creates a unique URL to each box on your page.
     * 
     * @param {string} boxId
     * @param {Location} pageLocation - a copy of the current window.location
     * @returns {string}
     */
    // createBoxUrl(boxId, pageLocation) {

    //     pageLocation.search = ''; // removes query string!
    //     pageLocation.hash = boxId; // creates link to this specific Comment Box on your page
    //     return pageLocation.href; // return url string
    // },
    /**
     * Fires once the plugin loads its comments.
     * May fire multiple times in its lifetime.
     * 
     * @param {number} count
     */
    onCommentCount(count) {

    }})
    // Limits At this time:
    // Links are not automatically hyperlinked. This may change in the future. 
    // Comments may be up to 16,384 characters in length. 
    // Comments are editable for 8 minutes. 
    // You may edit a comment up to 9 times.
    </script>
  <noscript>Please enable JavaScript to view the comments powered by Comment Box.</a></noscript>
{%- endif -%}