<div class="video">
  <iframe src="https://www.youtube.com/embed/{{ include.id }}" title="YouTube video player" frameborder="0" 
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>