<div class="col mt-4">
  <div class="timeline-body bg-themed">
    {% for item in site.data.education_timeline %}
      <div class="timeline-item">
        <div class="content">
          <h2>{{ item.title }}</h2>
          <h6 class="date">{{ item.from }} — {{ item.to }}</h6>
          <p>{{ item.description }}</p>
          <img src="../../img/{{ item.title }}.png" alt="{{ item.title }}" style="width:300;height: 300px;;">
        </div>
      </div>
    {% endfor %}
  </div>
</div>